<h2 class="regoch-spa">The Regoch Application</h2>
<p>
  The documentation at <a href="http://www.regoch.org/single-page-app" target="_blank">http://www.regoch.org/single-page-app</a>.
  <br>
  <br><b>Playground examples:</b>
  <br>&raquo; <a href="https://github.com/smikodanic/regoch-spa/tree/master/app/src/controllers/playground" target="_blank">Controller JS Code</a> &laquo;
  <br>&raquo; <a href="https://github.com/smikodanic/regoch-spa/tree/master/app/src/views/playground" target="_blank">Views HTML Code</a> &laquo;
</p>
